# POSTGRESQL (Base de Datos Principal)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=datavision
POSTGRES_PORT=5432

# REDIS (Caché y Sesiones)
REDIS_PORT=6379

# JWT (Backend)
JWT_SECRET=tu_jwt_secret_en_produccion

# FRONTEND
NEXT_PUBLIC_API_URL=http://localhost:3000/api
